@font-face
{
  font-family: OptimusPrinceps;
  src: url(../fonts/OptimusPrinceps.ttf) format("truetype");
}

@font-face
{
  font-family: Philosopher-Regular;
  src: url(../fonts/Philosopher-Regular.ttf) format("truetype");
}


body, html
{
	margin: 0px;
	background-color: #1c1c1c;
    font-family: OptimusPrinceps;
    color: #dbdbdb;
    width: 100%;
    height: 100%;
}

::-moz-selection
{
    color: white;
    background: rgba(255, 255, 255, 0.2);
}

::selection 
{
    color: white;
    background: rgba(255, 255, 255, 0.2);
}

#nav
{
    list-style-type: none;
    display: flex;
    padding: 0px; 
    font-size: 18px;
    letter-spacing: .04em;
    margin-top: 0;
    background-color: rgba(20, 20, 20, 0.6);
    position: relative;
}

#logo
{
   padding-top: 10px;
   padding-left: 10px;
   padding-bottom: 2px;
}

#bar
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    float: right;
    
    
    padding-right: 32px;
    padding-top: 32px;
}

#bar li a
{
    margin-left: 30px;
}

body::-webkit-scrollbar {
    width: 4px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #e8e8e8;
}

body::-moz-scrollbar {
    width: 4px;
}
 
body::-moz-scrollbar-thumb {
  background-color: #e8e8e8;
}

body::-o-scrollbar {
    width: 4px;
}
 
body::-o-scrollbar-thumb {
  background-color: #e8e8e8;
}



#nav a:link
{
    text-decoration: none;
    color: #dbdbdb;
}


#nav a:visited
{
    text-decoration: none;
    color: #dbdbdb;
}

#nav a
{
    text-shadow: 0;
    color: #dbdbdb;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

#nav a:hover
{
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 10px #ed8d76;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
