#content
{
    font-family: Philosopher-Regular;
    color: #dbdbdb;  
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    font-size: 30px;
    line-height: 1.25em;
    letter-spacing: .02em;
    margin-top: 8%;
    margin-bottom: 12%; 
    
    text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
}

#emph
{
    color: #dfcdbf;
    text-shadow: none;
}